.topbanner {
    border-radius: 30px;
    border: 2px solid #E35205;
    height: 200px;
    background-color: #333F48;
    text-align: center;
    font-size: 150px;
    border-margin: 25px;
}

.menubar{
    border-radius: 30px;
    border: 2px solid #E35205;
    background-color: #333F48;
    text-align: center;
    margin-top: 20px;
}

.mainBody {
    border-radius: 30px;
    border: 2px solid #E35205;
    background-color: #333F48;
    padding: 20px;
    margin-top: 20px;
}

body {
    background-color: #333F48;
}

* {
    color: #FFFFFF;
}

input {
    color: black;
}

button {
    color: black;
}

a:hover {
    color: #E35205;
}

th {
  color: #E35205;
  border-collapse: collapse;
}

table, th, td {
    text-align: left;
    border: 2px solid #FFFFFF;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
}
